.gradle/
build/
local.properties
*.apk
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild/
.cxx/
native/modlinkd
native/modlink
health-shim/inc/
health-shim/inc_cxx/
health-shim/devlibs/
health-shim/out/
stock-hal/orig/
stock-hal/out/
