<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
         Permission signature|privileged : n'a d'effet que si cette appli est
         installée comme application système privilégiée (vendor/priv-app)
         ET listée dans un fichier de whitelist privapp-permissions. Voir
         README.md et device-files/privapp-permissions-modaudiofix.xml.
    -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING" />

    <application
        android:label="Mod Audio Fix"
        android:allowBackup="false"
        android:icon="@android:drawable/ic_lock_silent_mode_off">

        <!--
             android:directBootAware pas nécessaire ici. android:exported=true
             requis pour recevoir une diffusion envoyée par un autre package
             (com.motorola.modservice).
        -->
        <receiver
            android:name=".ModAttachReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.motorola.mod.action.MOD_ATTACH" />
                <action android:name="com.motorola.mod.action.MOD_DETACH" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
